.col-md-3
	block aside
		aside(data-slide='usualSlide')
			a(href='#')
				.rotate_logo
					h1 steel
					h1
						span knife
					.logo_wrap
						img(src='img/logo.svg')
					.clearfix
			nav
				ul
					li#catalog
						a(href='#') каталог
						span
						nav
							ul Дамасская сталь
								li: a(href='#') Турист-2
								li: a(href='#') Беркут
								li: a(href='#') Медведь
								li: a(href='#') Рысь
							ul Сталь 65Х13
								li: a(href='#') Беркут-1
								li: a(href='#') Егерь
								li: a(href='#') Медведь
								li: a(href='#') Рысь
								li: a(href='#') Осетр
								li: a(href='#') Турист-2
							ul Сталь 95Х18
								li: a(href='#') Беркут-1
								li: a(href='#') Егерь
								li: a(href='#') Медведь
								li: a(href='#') Рысь
								li: a(href='#') Осётр
								li: a(href='#') Турист-2

					li
						a(href='#') доставка и оплата
						span
					li
						a(href='#') контакты
						span
			ul.mobile_numbers
				li +7(952)839 76 84
				li +7(952)839 76 44
				li +7(952)839 76 30
			button#write_us напишите нам
			nav.social_network
				ul
					li
						a(href='#') instagram
						span
					li
						a(href='#') vk
						span
					li
						a(href='#') youtube
						span
					li
						a(href='#') ok
						span