@media only screen and (max-width: 1200px) {
  .wrap_content .tab_wrapper .tab_menu ul li {
    padding: 25px 10px;
    font-size: 16px;
  }
  .wrap_content .tab_wrapper .tab_menu ul li.active {
    background-color: white;
  }
  .wrap_content .tab_wrapper .tab_menu .black_line {
    width: 95%;
  }
  .wrap_content .tab_wrapper .tab_content .knife_item_wrap .knife_wrap img {
    min-height: 150px;
  }
  .wrap_content .tab_wrapper .tab_content .knife_item_wrap .knife_wrap .youtube.active {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .wrap_content .tab_wrapper .tab_content .knife_item_wrap .knife_wrap .knife_info div {
    font-size: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .wrap_content .tab_wrapper .tab_menu ul li {
    padding: 20px 5px;
    font-size: 11px;
  }
  .wrap_content .tab_wrapper .tab_content .knife_item_wrap .knife_item {
    justify-content: flex-start;
  }
  .wrap_content .tab_wrapper .tab_content .knife_item_wrap .knife_wrap {
    width: 200px;
  }
  .wrap_content .tab_wrapper .tab_content .knife_item_wrap .knife_wrap img {
    min-height: 150px;
  }
  .wrap_content .tab_wrapper .tab_content .knife_item_wrap .knife_wrap .knife_info div {
    font-size: 7.5px;
  }
}
@media only screen and (max-width: 480px) {
  .wrap_content .tab_wrapper .tab_menu ul li {
    float: none;
    text-align: center;
  }
  .wrap_content .tab_wrapper .tab_menu .black_line {
    display: none;
  }
  .wrap_content .tab_wrapper .tab_content .knife_item_wrap .knife_item {
    justify-content: center;
  }
  .wrap_content .tab_wrapper .tab_content .knife_item_wrap .knife_wrap {
    width: 280px;
  }
}
