.image_popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(1, 1, 1, 0.99);
  z-index: 10;
}
.image_popup .wrap_img {
  width: 80%;
  position: fixed;
  border: 3px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.image_popup .wrap_img img {
  width: 100%;
}
.image_popup .wrap_img #close_img {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  opacity: 0.6;
}
.image_popup .wrap_img #close_img:hover {
  opacity: 1;
}
.image_popup .wrap_img #close_img img {
  width: 100%;
}
header {
  display: block;
}
aside {
  display: none;
}
.wrap_content {
  width: 100%;
}
.wrap_content .goods {
  width: 100%;
  position: relative;
}
.wrap_content .goods img {
  width: 100%;
  cursor: url('../../img/icons/magnifier.svg'), pointer;
}
.wrap_content .description h1 {
  margin: 0;
  font-family: 'GothaProBol';
  text-transform: uppercase;
  color: black;
  font-size: 2.3vw;
}
.wrap_content .description .buttons button {
  padding: 8px 30px;
  font-size: 1.4vw;
  font-family: 'GothaProBol';
  text-transform: uppercase;
  margin: 10px;
  margin-left: 0;
  border: 2px solid black;
}
.wrap_content .description .buttons .buy {
  background-color: white;
}
.wrap_content .description .buttons .youtube {
  background: black;
  color: white;
}
.wrap_content .description .property div {
  font-size: 1.2vw;
  text-transform: uppercase;
}
.wrap_content .description .property div .name {
  font-family: "GothaProReg";
  color: #989898;
}
.wrap_content .description .property div .value {
  margin-left: 20px;
  font-family: 'GothaProBol';
  color: black;
}
.wrap_content .description .about_knife {
  margin: 20px 0;
}
.wrap_content .description .about_knife p {
  font-family: "GothaProReg";
  font-size: 1vw;
  text-indent: 20px;
  line-height: 1.05vw;
}
.wrap_content .description .mailto button {
  padding: 12px 50px;
  font-size: 1.4vw;
  font-family: 'GothaProBol';
  text-transform: uppercase;
  margin: 10px;
  margin-left: 0;
  border: 2px solid black;
  background: black;
  color: white;
  transition: .3s;
}
.wrap_content .description .mailto button:hover {
  background-color: white;
  color: black;
}
.wrap_content .see_also_wrap {
  padding: 20px 15px;
}
.wrap_content .see_also_wrap h2 {
  color: black;
  text-align: center;
  font-size: 2vw;
  font-family: 'GothaProBol';
  text-transform: uppercase;
  margin: 0;
}
.wrap_content .see_also_wrap .knife_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wrap_content .see_also_wrap .knife_wrap {
  width: 23%;
  display: block;
  margin: 1%;
  margin-top: 35px;
  position: relative;
  min-height: 170px;
}
.wrap_content .see_also_wrap .knife_wrap img {
  width: 100%;
  min-height: 170px;
  margin-bottom: 20px;
}
.wrap_content .see_also_wrap .knife_wrap .knife_info {
  position: absolute;
  width: 100%;
  min-height: 150px;
  background-color: black;
  top: 0;
  opacity: 0;
  padding: 20px;
  transition: opacity .5s;
}
.wrap_content .see_also_wrap .knife_wrap .knife_info:hover {
  opacity: .75;
}
.wrap_content .see_also_wrap .knife_wrap .knife_info div {
  font-size: .85vw;
  text-transform: uppercase;
}
.wrap_content .see_also_wrap .knife_wrap .knife_info div .name {
  font-family: "GothaProReg";
  color: #989898;
}
.wrap_content .see_also_wrap .knife_wrap .knife_info div .value {
  margin-left: 20px;
  font-family: 'GothaProBol';
  color: #e3e3e3;
}
.wrap_content .see_also_wrap .knife_wrap h3 {
  font-size: 20px;
  float: left;
  font-family: 'GothaProBol';
  color: black;
  line-height: 42px;
}
.wrap_content .see_also_wrap .knife_wrap .youtube {
  float: right;
  display: none;
  background-color: transparent;
  padding: 0;
  position: relative;
  color: black;
  font-family: "GothaProReg";
}
.wrap_content .see_also_wrap .knife_wrap .youtube.active {
  display: block;
  line-height: 45px;
}
.wrap_content .see_also_wrap .knife_wrap .youtube.active:before {
  content: '';
  position: absolute;
  background-image: url('../../img/icons/eye.png');
  height: 18px;
  width: 24px;
  left: -30px;
  bottom: 13px;
}
.wrap_content .see_also_wrap .knife_wrap .price {
  display: block;
  color: white;
  background-color: black;
  padding: 12px;
  width: 80px;
  text-align: center;
  float: right;
  font-family: 'GothaProBol';
  margin-left: 5px;
}
