@font-face {
  font-family: 'GothaProBol';
  src: url('../fonts/GothaProBol.otf') format('opentype');
}
@font-face {
  font-family: 'GothaProLig';
  src: url('../fonts/GothaProLig.otf') format('opentype');
}
@font-face {
  font-family: 'GothaProReg';
  src: url('../fonts/GothaProReg.otf') format('opentype');
}
@font-face {
  font-family: 'Rouble';
  src: url('../fonts/rouble.ttf') format('opentype');
}
