@media only screen and (max-width: 1200px) {
  header {
    display: block;
  }
  aside {
    position: absolute;
    width: 100%;
    padding-top: 25px;
  }
  aside .rotate_logo h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  aside .rotate_logo .logo_wrap {
    width: 28%;
    top: 25px;
  }
}
@media only screen and (max-width: 992px) {
  aside .rotate_logo h1 {
    font-size: 30px;
  }
  aside .rotate_logo .logo_wrap {
    top: 25px;
  }
  .wrap_content #cat_damask {
    height: 100%;
  }
  .wrap_content #cat_damask #narrow_pic {
    display: none;
  }
  .wrap_content #cat_damask #higher_pic {
    display: block;
  }
  .wrap_content #cat_95X18 {
    width: 100%;
    float: none;
  }
  .wrap_content #cat_65X13 {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 768px) {
  .wrap_category {
    width: 100%!important;
  }
}
@media only screen and (max-width: 480px) {
  header .logo h1 {
    font-size: 25px;
  }
  aside {
    width: 95%;
  }
}
